.header {
    position: sticky;
    top: 0;
    height: 4rem;
    background: var(--secondary-bg);

    .nav {
        position: relative;
        display: flex;
        height: 4rem;
        justify-content: space-between;
        align-items: center;

        .logo {
            color: var(--secondary-color);
            font-size: 18px;
            font-weight: 500;

            @media screen and (min-width:768px) {
                font-size: 24px;
            }
        }

        .menu {
            display: flex;

            .portfolio {
                position: fixed;
                display: flex;
                flex-direction: column;
                right: -100%;
                top: 3.5rem;
                padding: 2rem;
                gap: 1.5rem;
                transition: var(--linear-300);
                border-radius: var(--border-radius-small);
                background: var(--primary-bg);

                .ul {
                    display: flex;
                    flex-direction: column;
                    gap: .8rem;

                    .li {
                        .list {
                            color: var(--header-color);

                            &:hover {
                                color: var(--secondary-color);
                            }
                        }
                    }
                }

                @media screen and (min-width: 768px) {
                    position: initial;
                    background-color: initial;
                    flex-direction: initial;
                    gap: 5rem;

                    .ul {
                        flex-direction: initial;
                        gap: 2.2rem;

                        .li {
                            .list {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            .portfolioAlt {
                right: 24px;
            }

            .toggle {
                font-size: 1.45rem;
                color: var(--secondary-color);

                @media screen and (min-width: 768px) {
                    display: none;
                }
            }
        }

        .link {
            color: var(--secondary-color);
            font-weight: 500;
            transition: var(--ease-in-out-300);

            &:hover {
                transform: scale(1.1);
                opacity: .8;
            }
        }
    }

    @media screen and (min-width:768px) {
        height: 6rem;

        .nav {
            height: 6rem;
        }

        .link {
            font-size: 18px;
        }
    }
}

.headerAlt {
    background: var(--primary-bg);
}