:root {
    --primary-bg: #0a192f;
    --secondary-bg: #0B1220;
    --secondary-color: #5cebcb;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Nunito Sans', sans-serif;
    --white: #fff;
    --black: #000;
    --header-color: #ccd6f6;
    --text-color: #b9b9bb;
    --border-radius-small: 10px;
    --border-radius-medium: 20px;
}


* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--secondary-bg);
}